body {
    font-family: 'Lato', sans-serif;
}

.container {
    text-align: center;
}

.font-20px {
    font-size: 20px;
    float: left;
}

#nav-title {
    float: right;
    font-size: 20px;
}

.fa-plus-square {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

li {
    cursor: pointer;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: grey;
}
