body {
    font-family: 'Lato', sans-serif;
}

.font-20px {
    font-size: 20px;
    float: left;
}

#navbar-cart {
    float: right;
    font-size: 20px;
    background-color: rgb(4, 143, 4);
    color: white;
    padding-left: 40px;
    padding-right: 40px;
}

.fa-plus-square {
    cursor: pointer;
}

.navbar {
    overflow: hidden;
    background-color: rgba(133, 255, 133, 0.514);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: grey;
}

#navbar-cart:hover {
    color: black;
}

.homepage {
    text-align: center;
    margin-top: 8%;
}

#hr-1 {
    width: 50em;
}

#hr-2 {
    width: 40em;
}

#hr-3 {
    width: 30em;
}
